{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<!-- Contact me section -->
<section class="contact" id="contact">
    <div class="contact-heading">
        <h1 class="my-heading text-center">Contact Me</h1>
    </div>
    <div class="contact-content">
        <div class="contact-form-container">
            <h1 class="greet-heading">Get In Touch</h1>
            <form class="contact-form" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-btn btn common-btn" type="submit" value="Send Message">
            </form>
        </div>
        <div class="contact-details">
            <h1 class="greet-heading">My Contact Details</h1>
            <div class="details">
                <h5 class="contact-heading">EMAIL</h5>
                <p class="contact-text">example@gmail.com</p>
            </div>
            <div class="details">
                <h5 class="contact-heading">PHONE</h5>
                <p class="contact-text">+91 0123456789</p>
            </div>
            <div class="details">
                <h5 class="contact-heading">FAX</h5>
                <p class="contact-text">+91 0123456789</p>
            </div>
            <div class="details">
                <h5 class="contact-heading">ADDRESS</h5>
                <p class="contact-text">San Francisco, CA</p>
                <p>4th Floor8 Lower</p>
                <p>San Francisco street, M1 50F</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
