{% extends 'main/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<!-- Portfolio Section -->
<section class="portfolio" id="portfolio">
    <div class="portfolio-heading">
        <h1 class="my-heading text-center">Featured Portfolio</h1>
    </div>
    <div class="portfolio-content">
        <div class="my-row">
            {% for project in projects %}
            <div class="my-col">
                <div class="my-card port-card">
                    <div class="image">
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    </div>
                    <h3 class="greet-heading blue-text">{{ project.title }}</h3>
                    <p class="small-para blue-text">{{ project.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
